
@mixin flex-column{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

@mixin flex-row{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
}

@mixin big-screen{
    @media screen and (min-width : 800px) {
        @content;
    }
}