$primary : rgb(0, 208, 255);
$secondary : rgb(15, 235, 110);
$black : #333;
$white : #fff;
$gray : #ccc;
$purple : rgb(90, 0, 186);
$half-purple : rgb(238, 0, 210);


$half-primary : hsl(164, 100%, 50%);
$half-secondary : hsl(131, 85%, 58%);

$regular-padding : 1rem;
$big-padding : 3rem;

$small-size : 5px;
$big-size : 10px;

$little-fw : 100;
$regular-fw : 500;
$bold-fw : 900;

$big-screen : 800px;


